<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="static/css/mb_style.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>교통사고 분석</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
    </head>

    <body>
        <section id="analysis-section">
            <div class="container">
                <input id="toggle" type="checkbox"/>
                <div id="wrap">
                    <div class="row">
                        <div class = "header-wrap">
                            <header id="main_header">
                                <a href="/"><h1>KOOKDAT</h1></a>    
                                <label class="right" for="toggle">◀</label>
                            </header>
                            <div id="toggle_gnb">
                                <ul class = "toggle_gnb_wrap">
                                    <li><a href="/hazard">💥 교통사고 다발지역</a></li>
                                    <li><a class="active" href="analysis">🔎 교통사고 분석</a></li>
                                </ul>
                            </div>
                        </div>  
                    </div>
                </div>
                
                <div class="row">
                    <div id="banner">
                        <div class="mainText">
                            <h4>🔎 교통사고 분석</h4>
                        </div>
                    </div> 
                </div>
    </div>
</body>
</html>
